<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount>5</ArticleCount>
    <Articles>
      <item>
        <Title><![CDATA[水果水果 好多水果]]></Title> 
        <Description><![CDATA[description1]]></Description>
        <PicUrl><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/assets/head.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/announcement.html]]></Url>
      </item>
      <item>
        <Title><![CDATA[团购水果列表]]></Title> 
        <Description><![CDATA[description1]]></Description>
        <PicUrl><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/assets/fruits1.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/products?wxid=<%= @customer.wxid %>]]></Url>
      </item>
      <item>
        <Title><![CDATA[管理订单信息]]></Title> 
        <Description><![CDATA[description2]]></Description>
        <PicUrl><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/assets/orders2.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/customers/<%= @customer.id %>/orders?wxid=<%= params[:xml][:FromUserName] %>]]></Url>
      </item>
      <item>
        <Title><![CDATA[修改个人信息]]></Title>
        <Description><![CDATA[团购下单前需要补充个人信息]]></Description>
        <PicUrl><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/assets/account2.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/customers/<%= @customer.id %>]]></Url>
      </item>
      <item>
        <Title><![CDATA[查看使用帮助]]></Title> 
        <Description><![CDATA[description2]]></Description>
        <PicUrl><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/assets/help1.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= exec 'curl http://169.254.169.254/latest/meta-data/public-ipv4' %>/index.html]]></Url>
      </item>
    </Articles>
</xml> 
