<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount>3</ArticleCount>
    <Articles>
      <item>
        <Title><![CDATA[水果水果 好多水果]]></Title> 
        <Description><![CDATA[description1]]></Description>
        <PicUrl><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/assets/head.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/announcement.html]]></Url>
      </item>
      <item>
        <Title><![CDATA[创建个人信息]]></Title>
        <Description><![CDATA[团购下单前需要补充个人信息]]></Description>
        <PicUrl><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/assets/account.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/customers/new?wxid=<%= params[:xml][:FromUserName] %>]]></Url>
      </item>
      <item>
        <Title><![CDATA[查看使用帮助]]></Title> 
        <Description><![CDATA[description2]]></Description>
        <PicUrl><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/assets/help.jpg]]></PicUrl>
        <Url><![CDATA[http://<%= Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>/index.html]]></Url>
      </item>
    </Articles>
</xml> 
