
<%= form_for @customer, :html => {:class => ''} do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation" class="ui error message">
    <div class="header"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</div>
    <ul class="list">
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

    <%= f.hidden_field :wxid, :value => params[:wxid] || @customer.wxid %>
    <%= f.text_field :nickname, placeholder: '昵 称' %><br>
    <%= f.text_field :name, placeholder: '姓 名' %><br>
    <%= f.number_field :mobile, placeholder: '手 机' %><br>
    <%= f.number_field :qq, placeholder: 'Q Q'%><br>

    <%= f.fields_for :addresses, @customer.addresses do |ff| %>
      <div class="segmented-control">
      <% Address.areas.keys.each do |area| %>
        <% if area == @customer.addresses[0].area %>
        <a class="control-item active">
          <% case area
             when 'huajing' %><%= "华景新城" %>
          <% when 'longwei' %><%= "龙威广场" %>
          <% end %>
          <%= ff.hidden_field :area, placeholder: 'area', :value => area, :disabled => true %>
        </a>
        <% else %>
        <a class="control-item">
          <% case area
             when 'huajing' %><%= "华景新城" %>
          <% when 'longwei' %><%= "龙威广场" %>
          <% end %>
          <%= ff.hidden_field :area, placeholder: 'area', :value => area, :disabled => true %>
        </a>
        <% end %>
      <% end %>
      </div>
      <br>
      <%= ff.text_field :address, placeholder: 'address' %><br>
      <%= ff.hidden_field :id %>
    <% end -%>
    <%= f.submit "Create Customer", {:class => "btn btn-positive btn-block"} %>
<% end %>

