<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation" class="ui error message">
    <div class="header"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</div>
    <ul class="list">
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :wxid, :value => params[:wxid] || @customer.wxid %>
  <div class="ui segment vertical form">
    <div class="field">
      <%= f.text_field :nickname, placeholder: '昵 称' %><br>
    </div>
    <div class="field">
      <%= f.text_field :name, placeholder: '姓 名' %><br>
    </div>
    <div class="field">
      <%= f.number_field :mobile, placeholder: '手 机' %><br>
    </div>
    <div class="field">
      <%= f.number_field :qq, placeholder: 'Q Q'%><br>
    </div>
    <div class="field">
      <%= f.submit "Create Customer", {:class => "fluid ui green button"} %><br>
    </div>
  </div>
<% end %>
