<div class="ui segment">
  <h4 class="ui horizontal header divider">
    个人信息
  </h4>
  <table class="ui definition table">
    <tbody>
      <%= link_to "编 辑 信 息", edit_customer_path, :class => "fluid ui red button"  %><br/>
      <tr>
        <td class="one wide column">昵 称</td>
        <td><%= @customer.nickname %></td>
      </tr>
      <tr>
        <td>姓 名</td>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <td>手 机</td>
        <td><%= @customer.mobile %></td>
      </tr>
      <tr>
        <td>Q Q</td>
        <td><%= @customer.qq %></td>
      </tr>
    </tbody>
  </table>
</div>
