<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="<%= customer_orders_path(@customer, :wxid => @customer.wxid) %>" data-transition="slide-out">
  <a class="icon icon-trash pull-right" id="delete"></a>
  <h6 class="title" style="font-size:15px;">订单编号：<%= @order.code %></h6>
</header>


<div class="content" id="order_content" status="<%= @order[:status] %>">
  <%= form_for [@customer, @order], :html => { :method => :delete, :class => "delete-form" }, url: customer_order_path(@customer, @order) do |f| %>
    <%= f.hidden_field :wxid, :value => @customer.wxid %>
  <% end %>
  
  <%= form_for [@customer, @order], url: customer_order_path(@customer, @order) do |f| %>
  <%= f.hidden_field :customer_id, :value => @customer.id %>
  <%= f.hidden_field :wxid, :value => @customer.wxid %>
  <%= f.hidden_field :id, :value => @order.id %>
  <ul class="table-view">
    <% @order.items.each do |item| -%>
    <%= f.fields_for :items, item do |ff| %>
    <li class="table-view-cell media">
      <%= image_tag item.product.image.url(:thumb), class: "media-object pull-left" %>
      <div class="media-body">
        <a class="product-name">  <%= item.product.name %></a>
        <div class="grouped pull-right">
          <div class="btn btn-positive btn-outlined plus">+</div>
          <div class="btn btn-negative btn-outlined minus">-</div>
        </div>
        <%= ff.number_field :amount, :id => "amount", class: "compact"%>
        <figure>
          <p class="price">￥<%= item.product.price %></p>
          <figcaption class="truncate"><%= item.product.desc %></figcaption>
        </figure>
      </div>
    </li>
    <% end -%>
    <% end %>
    <div class="content-padded">
      <h5 class="">支付方式</h5>
      <div class="segmented-control">
        <% Order.payments.keys.each do |payment| %>
          <% if @order.payment == payment %>
            <a class="control-item active">
              <% case payment
                 when 'cash' %><%= "现 金" %>
              <% when 'alipay' %><%= "支付宝" %>
              <% when 'wexin' %><%= "微 信" %>
              <% when 'bank' %><%= "网 银" %>
              <% end %>
              <%= f.hidden_field :payment, :value => payment, :disabled => true %>
            </a>
          <% else %>
            <a class="control-item">
              <% case payment
                 when 'cash' %><%= "现 金" %>
              <% when 'alipay' %><%= "支付宝" %>
              <% when 'wexin' %><%= "微 信" %>
              <% when 'bank' %><%= "网 银" %>
              <% end %>
              <%= f.hidden_field :payment, :value => payment, :disabled => true %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="content-padded">
      <h5 class="">提货方式</h5>
      <div class="segmented-control">
        <% Order.deliveries.keys.each do |delivery| %>
          <% if @order.delivery == delivery %>
            <a class="control-item active">
              <% case delivery
                 when 'carry' %><%= "自 提" %>
              <% when 'delivery'%><%= "送 货" %>
              <% end %>
              <%= f.hidden_field :delivery, :value => delivery, :disabled => true %>
            </a>
          <% else %>
            <a class="control-item">
              <% case delivery
                 when 'carry' %><%= "自 提" %>
              <% when 'delivery'%><%= "送 货" %>
              <% end %>
              <%= f.hidden_field :delivery, :value => delivery, :disabled => true %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="content-padded">
    <%= f.submit "更 新 订 单", {:class => "btn btn-positive btn-block"} %>
    </div>
  </ul>
  <% end %>
</div>
