<header class="bar bar-nav">
  <h1 class="title">订单信息</h1>
</header>
<div class="content">
  <div class="card">
    <ul class="table-view">
      <% @orders.each do |order| %>
      <li class="table-view-cell">
        <a class="navigate-right" href="<%= edit_customer_order_path(:customer_id => @customer.id, :id => order.id ) %>" data-transition="slide-in" style="font-size:12px;">
          <%= order.created_at.to_formatted_s(:long_ordinal) %>, 
          <% case order.status 
          when 'submitted' %><%= "已提交"%>
          <% when 'completed' %><%= "交易结束"%>
          <% when 'cancelled' %><%= "已取消"%>
          <% when 'stock_up' %><%= "备货中"%>
          <% when 'on_the_way' %><%= "送货中"%>
          <% end %>
          ￥<%= order.total %>

        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% if false %>
<div class="ui segment">
  <h4 class="ui horizontal header divider">
    订单信息
  </h4>
  <div class="ui mini accordion">
    <% @orders.each do |order| %>
    <div class="title">
      <i class="dropdown icon"></i>
      <i class="wait icon"></i> <%= order.created_at.to_formatted_s(:long_ordinal) %> <i class="money icon"></i> <%= order.total %>
    </div>


    <div class="content">

      <%= form_for [@customer, order], url: customer_order_path(@customer, order) do |f| %>
        <%= f.hidden_field :customer_id, :value => @customer.id %>
        <%= f.hidden_field :id, :value => order.id %>
          <div class="ui divided list">
            <h5 class="ui horizontal header">
              No. &nbsp;<%= order.code %> &nbsp;
            </h5>
          <% order.items.each do |item| -%>
            <%= f.fields_for :items, item do |ff| %>
            <div class="item">
              <div class="ui right floated small input" style="width:50px;">
                <%= ff.number_field :amount, :id => "amount" %>
                <%= ff.hidden_field :id, :value => item.id %>
              </div>
              <div class="ui icon right floated buttons">
                <div class="decrement ui basic red button"><i class="minus icon"></i></div>
                <div class="increment ui basic green button"><i class="plus icon"></i></div>
              </div>
              <img class="ui avatar image" src="/assets/cherry.jpg">
              <div class="content">
                <div class="header"><%= item.product.name %> </div>
                <div class="description">
                  <p>¥<%= item.product.price %></p>
                  <%= item.product.desc %>
                </div>
              </div>
            </div>
            <% end -%>
          <% end %>
          </div>
        <%= f.submit "更 新 订 单", {:id => "dybtn", :class => "fluid ui red button"} %><br>
      <% end %>

    </div>


    <% end %>
  </div>
</div>
<% end %>
