<ul class="table-view">
  <%= form_for [@customer, @order], url: customer_orders_path(@customer, @order) do |f| %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <% @items.each do |item| -%>
    <%= f.fields_for :items, item do |ff| %>
    <li class="table-view-cell media">
      <%= ff.hidden_field :product_id, :value => item.product_id %>
      <%= image_tag item.product.image.url(:thumb), class: "media-object pull-left switch", :href => "#fruit-#{item.product_id}" %>
      <div class="media-body">
        <a class="product-name" href="#fruit-<%= item.product_id %>">  <%= item.product.name %></a>
        <div class="grouped pull-right">
          <div class="btn btn-positive btn-outlined plus">+</div>
          <div class="btn btn-negative btn-outlined minus">-</div>
        </div>
        <%= ff.number_field :amount, :id => "amount", :value => 0, class: "compact"%>
        <figure href="#fruit-<%= item.product_id %>" class="">
          <p class="price">￥<%= item.product.price %></p>
          <figcaption class="truncate"><%= item.product.desc %></figcaption>
        </figure>
      </div>
    </li>

    <% end -%>
    <% end %>
    <div class="content-padded">
      <h5 class="">支付方式</h5>
      <div class="segmented-control">
        <a class="control-item active"> 现 金
          <%= f.hidden_field :payment, :value => 'cash', :disabled => false %>
        </a>
        <a class="control-item"> 支付宝
          <%= f.hidden_field :payment, :value => 'alipay', :disabled => true %>
        </a>
        <a class="control-item"> 微 信
          <%= f.hidden_field :payment, :value => 'wexin', :disabled => true %>
        </a>
        <a class="control-item"> 网 银
          <%= f.hidden_field :payment, :value => 'bank', :disabled => true %>
        </a>
      </div>
    </div>
    <div class="content-padded">
      <h5 class="">提货方式</h5>
      <div class="segmented-control">
        <a class="control-item active"> 自 提
          <%= f.hidden_field :delivery, :value => 'carry', :disabled => false %>
        </a>
        <a class="control-item"> 送 货
          <%= f.hidden_field :delivery, :value => 'delivery', :disabled => true %>
        </a>
      </div>
    </div>
    <div class="content-padded">
      <%= f.submit "提 交 订 单", {:class => "btn btn-positive btn-block"} %><br>
    </div>
  <% end %>
</ul>

<% @items.each do |item| -%>
<div id="fruit-<%= item.product_id %>" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right switch" href="#fruit-<%= item.product_id %>"></a>
    <h1 class="title"><%= item.product.name %></h1>
  </header>
  <div class="content">
        <figure>
          <%= image_tag item.product.image.url(:medium), class: "", style: "width:100%;" %>
        </figure>
    <p class="content-padded desc"><%= item.product.desc %></p>
  </div>
</div>
<% end %>
