<ul class="table-view">
  <%= form_for [@customer, @order], url: customer_orders_path(@customer, @order) do |f| %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <% @items.each do |item| -%>
    <%= f.fields_for :items, item do |ff| %>
    <li class="table-view-cell media">
      <%= ff.hidden_field :product_id, :value => item.product.id %>
      <img class="media-object pull-left" src="/assets/cherry.jpg">
      <div class="media-body">
        <a class="product-name">  <%= item.product.name %></a>
        <div class="grouped pull-right">
          <div class="btn btn-positive btn-outlined plus">+</div>
          <div class="btn btn-negative btn-outlined minus">-</div>
        </div>
        <%= ff.number_field :amount, :id => "amount", :value => 0, class: "compact"%>
        <figure>
          <p class="price">￥<%= item.product.price %></p>
          <figcaption class="truncate"><%= item.product.desc %></figcaption>
        </figure>
      </div>
    </li>
    <% end -%>
    <% end %>
    <div class="content-padded">
      <h5 class="">支付方式</h5>
      <div class="segmented-control">
        <% Order.payments.keys.each do |payment| %>
        <a class="control-item">
          <% case payment
             when 'cash' %><%= "现 金" %>
          <% when 'alipay' %><%= "支付宝" %>
          <% when 'wexin' %><%= "微 信" %>
          <% when 'bank' %><%= "网 银" %>
          <% end %>
          <%= f.hidden_field :payment, :value => payment, :disabled => true %>
        </a>
        <% end %>
      </div>
    </div>
    <div class="content-padded">
      <h5 class="">提货方式</h5>
      <div class="segmented-control">
        <% Order.deliveries.keys.each do |delivery| %>
        <a class="control-item">
          <% case delivery
             when 'carry' %><%= "自 提" %>
          <% when 'delivery'%><%= "送 货" %>
          <% end %>
          <%= f.hidden_field :delivery, :value => delivery, :disabled => true %>
        </a>
        <% end %>
      </div>
    </div>
    <div class="content-padded">
      <%= f.submit "Create Order", {:class => "btn btn-positive btn-block"} %><br>
    </div>
  <% end %>
</ul>
